.container {
  margin: 0 40px;
}

.category {
  padding-top: 25px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 80px;
  background-color: #fff;
  z-index: 1;
}

.category::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: #fff;
}

.category__list {
  display: flex;
  align-items: center;
  width: 75%;
  overflow: auto;
}

.category__list::-webkit-scrollbar {
  display:none;
}

.category__list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Màu mờ của thanh kéo */
  border-radius: 10px;
}

.category__item {
  text-align: center;
  padding-bottom: 8px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 20px;
}

.category__item.current{
  border-bottom: 2px solid #333;
}

.category__item.current .category__item-text{
  color: var(--text-dark-color); 
}

.category__item.current:hover{
  border-bottom: 2px solid #333;
}

.category__item.current .category__item-img{
  opacity: 1;
}

.category__item:first-child {
  padding-left: 0;
}

.category__item:hover{
  border-bottom: 2px solid #cdcdcd;
}

.category__item:hover .category__item-text {
  color: var(--text-dark-color);
  cursor: pointer;
}

.category__item:hover .category__item-img {
  opacity: 1;
  cursor: pointer;
}

.category__item-img {
  width: 30px;
  aspect-ratio: 1;
  opacity: 0.5;
  transition: opacity ease 0.1s;
}

.category__item-text {
  color: var(--text-light-color);
  font-weight: 500;
  font-size: 1.2rem;
  transition: color ease 0.1s;
}

.category__button {
  width: 25%;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.category__button-switch {
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 20px 0 4px;
  transition: transform 0.2s ease;
}

.category__button-switch:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.category__button-filter {
  padding: 16px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all ease 0.2s;
}

.category__button-filter:hover {
  cursor: pointer;
  background-color: var(--background-hover-light-color);
  border: 1px solid #666;
}

.category__button-filter i{
  padding-right: 8px;
}

/* Cac lua chon phong */
.product {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.product__list {
  flex-wrap: wrap;
  margin: 0 -12px;
}

.product__item {
  width: 25%;
  padding: 0 12px 24px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform ease 0.2s;
}

.product__item:hover {
  transform: scale(1.03);
}

.product__item-like {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 12px;
}
.product__item-like--text {
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.product__item-like--icon {
  font-size: 2rem;
  color: #fff;
  transition: transform 0.2s ease;
}

.product__item-like--icon:hover {
  transform: scale(1.1);
}

.product__item-img img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

.product__item-info--heading {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 1.4rem;
  font-weight: 500;
}

.product__item-info--desc {
  padding: 4px;
  color: var(--text-light-color);
  font-size: 1.4rem;
}

.product__item-info--footer {
  display: flex;
  padding: 4px;
  font-size: 1.4rem;
  color: var(--text-light-color);
}

.product__item-info--price {
  margin-right: 4px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--text-dark-color);
}

/* Container footer */
.container__footer {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.container__footer div {
  color: #fff;
  background-color: black;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 16px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  transition: transform ease 0.1s;
}

.container__footer div:hover {
  transform: scale(1.03);
  cursor: pointer;
}
