.footer {
  background-color: #f7f7f7;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.footer_wrapper {
  width: 100%;
  max-width: 1200px;
}

.footer__heading {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-bottom: 1px solid #dcdcdc;
}


.footer__heading h1{
  font-weight: 500;
}
.footer__heading-category {
  font-size: 1.6rem;
  padding: 16px 0 16px 0;
  font-weight: 500;
}

.footer__category {
  flex-wrap: wrap;
}

.footer__category-item {
  width: 16.666%;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 12px 0;
  color: #666;
}

.footer__category-item:hover {
  color: var(--text-dark-color);
  cursor: pointer;
}

.footer__help {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}

.footer__help-col {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}

.footer__help-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.footer__help-col span {
  font-size: 1.3rem;
  color: var(--text-light-color);
  margin: 8px 0;
}

.footer__social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 1.4rem;
}

.footer__policy {
  display: flex;
  align-items: center;
}

.footer__policy i {
  padding-right: 10px;
}

.footer__policy-item {
  padding-right: 20px;
}

.footer__policy-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__social-icon {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.footer__social-icon span,
.footer__social-icon i {
  padding: 10px;
  border-radius: 50px;
}

.footer__social-icon span:hover,
.footer__social-icon i:hover {
  background-color: #ececec;
  cursor: pointer;
}

.footer__navbar-on-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
  display: none;
}

.footer__navbar__list {
  display: flex;
  justify-content: center;
}

.footer__navbar__item {
  text-align: center;
  padding: 0 28px;
  color: var(--text-light-color);
}

.footer__navbar__item:first-child {
  color: var(--main-color);
}

.footer__navbar-icon {
  font-size: 2rem;
  line-height: 2.6rem;
}

.footer__navbar-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
