/* Header navbar */
header {
  padding-bottom: 20px;
}

.header__navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.header__logo {
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo-img {
  height: 32px;
  color: var(--main-color);
}

.header__logo-text {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 8px;
}

.header__service-exp:hover,
.header__user-host:hover,
.header__user-icon:hover {
  cursor: pointer;
  background-color: var(--background-hover-light-color);
  color: var(--text-dark-color);
  border-radius: 50px;
}

.header__user {
  display: flex;
  align-items: center;
  color: #6a6a6a;
}

.header__user-host {
  font-size: 1.4rem;
  color: var(--text-dark-color);
  font-weight: 600;
  padding: 12px;
}

.header__user-icon {
  font-size: 2rem;
  padding: 12px;
  margin-right: 4px;
}

.header__user-info {
  display: flex;
  align-items: center;
  border: solid 1px #e8e8e8;
  border-radius: 50px;
  transition: box-shadow 0.2s ease;
}

.header__user-info:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__user-info-bar {
  font-size: 1.6rem;
  color: var(--text-dark-color);
  padding: 8px 8px 8px 16px;
}

.header__user-info-acc {
  font-size: 3rem;
  padding: 8px 8px;
}

/* Search bar */
.header__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.header__service {
  font-size: 1.6rem;
  margin-bottom: 34px;
  z-index: 3;
}

.header__service-home {
  font-weight: 600;
  color: var(--text-dark-color);
  padding: 0 14px;
}

.header__service-exp {
  padding: 14px;
  color: var(--text-light-color);
}

.search__bar {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px #e8e8e8;
  border-radius: 50px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
  margin: 0 40px;
}

.search__bar:has(input:focus) {
  background-color: var(--background-hover-dark-color);
}

.search__bar:has(input:focus) .search__check-in,
.search__bar:has(input:focus) .search__check-out,
.search__bar:has(input:focus) .search__guess {
  background-color: var(--background-hover-dark-color);
}

.search__bar:has(input:focus) .search__place {
  background-color: #fff;
  box-shadow: 0 1px 1px #999;
}

.search__place:has(input:focus):hover #search__place--text {
  background-color: #fff;
}

.search__place,
.search__check-in,
.search__check-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 100%;
  padding: 15px 20px;
  margin: 0;
  position: relative;
  border-radius: 35px;
  border: none;
  background-color: #fff;
}

.search__place {
  padding: 14px 50px 16px 30px;
}

.search__guess {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px 12px 32px;
  position: relative;
  border-radius: 35px;
  border: none;
  background-color: #fff;
}

.search__guess--add {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 80px;
}

.search__place::after,
.search__check-in::after,
.search__check-out::after {
  content: "";
  border-right: solid 1px #999;
  height: 25px;
  position: absolute;
  right: 0;
}

.search__place:hover,
.search__check-in:hover,
.search__check-out:hover,
.search__guess:hover {
  background-color: var(--background-hover-dark-color);
  cursor: pointer;
}

.search__check-in {
}

.search__check-out {
}

.search__guess {
}

.search__place--input {
  height: 100%;
}

.search__icon {
  width: 40px;
  height: 40px;
  padding: 16px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-right: 10px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.search--title {
  min-width: 70px;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--text-dark-color);
  width: fit-content;
}

.search--text {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-light-color);
}

#search__place--text {
  border: none;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

#search__place--text:focus {
  outline: none;
}

.search__place:has(input:focus) .suggest__place {
  display: block;
}

.search__place:hover #search__place--text {
  background-color: var(--background-hover-dark-color);
}
/* header search on mobile */
.header__search-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #fff;
}

.search__bar-mobile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 24px 0;
  height: 55px;
  font-size: 1.4rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 1px solid #e8e8e8;
}

.search__bar-mobile-icon,
.search__bar-mobile-text {
  padding: 0 6px;
  line-height: 1.8rem;
}

.search__bar-mobile-icon {
  font-size: 1.2rem;
}

.search__bar-mobile-text {
  padding-top: 2px;
}
/* Suggest place */
.suggest__place {
  width: 430px;
  height: 330px;
  position: absolute;
  top: 110%;
  left: auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  overflow-y: hidden;
  display: none;
  z-index: 2;
  background-color: white;
}

.search__place-wrapper:has(input:focus) .suggest__place {
  display: block;
}

.suggest__container {
  height: 100%;
  overflow-y: scroll;
  margin-right: 5px;
}

.suggest__heading {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 30px 36px 8px;
  color: var(--text-dark-color);
}

.suggest__info {
  margin: 0 8px 0 28px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.suggest__info:last-child {
  margin-bottom: 30px;
}

.suggest__info:hover {
  background-color: var(--background-hover-dark-color);
  cursor: pointer;
}

.suggest__info-img {
  width: 56px;
  height: 56px;
}

.suggest__info-place {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.suggest__info-place--title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-dark-color);
}

.suggest__info-place--desc {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-light-color);
}

/* Check-in day */
.check-in__day {
  width: 430px;
  height: 330px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  overflow-y: hidden;
  display: none;
}

.check-in__heading {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
  background-color: #e8e8e8;
  border-radius: 20px;
  user-select: none;
}

.check-in__heading-time {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding: 16px;
  margin: 4px;
  border-radius: 18px;
  text-align: center;
  width: 33%;
}

.check-in__heading--select {
  background-color: #fff;
}

.calendar {
  text-align: center;
}

.calendar__heading {
  font-size: 1.8rem;
  margin: 14px 0;
  color: var(--text-dark-color);
  user-select: none;
}

.calendar__heading i {
  float: right;
}

.calendar__heading i:hover {
  color: var(--text-light-color);
  cursor: pointer;
}

.calendar__row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.calendar__column {
  width: 14.286%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 500;
}

.calendar__week-day .calendar__column {
  color: var(--main-color);
  user-select: none;
}

.calendar__day .calendar__column:hover {
  border: 2px solid #666;
  cursor: pointer;
}

.calendar__day .calendar__column:nth-child(-n + 3):hover {
  border: none;
  cursor: default;
}
