.header__navbar {
  width: 100%;
  height: px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0;
}

.header__logo {
  height: 80px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
}

.header__logo-img {
  width: 30px;
  height: 32px;
}

.header__logo-text {
  font-size: 2rem;
  font-weight: 800;
  padding-left: 8px;
}

.header__service {
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 200px;
}

.header__service-home {
  font-weight: 600;
  color: var(--text-dark-color);
  padding: 0 14px;
}

.header__service-exp {
  padding: 14px;
  color: var(--text-light-color);
}

.header__service-exp:hover,
.header__user-host:hover,
.header__user-icon:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: var(--text-dark-color);
  border-radius: 50px;
}

.header__user {
  display: flex;
  align-items: center;
  color: #6a6a6a;
}

.header__user-host {
  font-size: 1.4rem;
  color: var(--text-dark-color);
  font-weight: 600;
  padding: 12px;
}

.header__user-icon {
  font-size: 2rem;
  padding: 12px;
  margin-right: 4px;
}

.header__user-info {
  display: flex;
  align-items: center;
  border: solid 2px var(--border-color);
  border-radius: 50px;
}

.header__user-info:hover {
  box-shadow: 0 1px 2px #b4b4b4;
}

.header__user-info-bar {
  font-size: 1.6rem;
  color: var(--text-dark-color);
  padding: 8px 8px 8px 16px;
}

.header__user-info-acc {
  font-size: 3rem;
  padding: 8px 16px;
}
